@model Phone

@{
    ViewBag.Title = "Добавить устройство";
}

<h2>Заполните форму для добавления устройства</h2>

<div class="row">
    <div class="phone_add_form col-md-6">
        <form asp-action="Add" method="post">
            <div class="form_row">
                <label>
                    Наименование
                    <input asp-for="Name" type="text" />
                </label>
            </div>
            <div class="form_row">
                <label>
                    Компания
                    <input asp-for="Company" type="text" />
                </label>
            </div>
            <div class="form_row">
                <label>
                    Стоимость
                    <input asp-for="Price" type="text" />
                </label>
            </div>
            <button type="submit">Создать</button>
        </form>
    </div>
</div>
